<section class="comparison-section section-{{ section.id }}">
  <div class="comparison-container">

    <div class="comparison-row comparison-shadow">
    {% for product in section.settings.product_list %}
      <div class="comparison-column">
        <p class="comparison-product-title h3">{{ product.title }}</p>
        <p class="comparison-product-price">{{ product.price | money }}</p>
        <a class="comparison-product-url" href="{{ product.url }}">Buy now →</a>
      </div>
    {% endfor %}
    </div>

    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when 'attribute' -%}
        <div class="attribute-title-wrapper">
          <h3 class="attribute-title">{{ block.settings.title }}</h3>
        </div>
      {% endcase %}
    {% endfor %}

  </div>
</section>

{% style %}
  .comparison-container {
    overflow-x: scroll;
    white-space: nowrap;
  }

  .comparison-column {
    display: inline-block;
    width: {{ '100%' | divided_by: section.settings.product_list.count }}%;
    min-width: 165px;
    padding: 10px;
    text-align: center;
  }

  .comparison-shadow {
    box-shadow: 0px 4px 4px 0px #0000001A;
  }

  .attribute-title-wrapper {
    background: #EFEFEF;
    padding: 20px 40px;
  }

  .comparison-product-title,
  .attribute-title {
    font-size: 24px;
  }

  .attribute-title {
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: 750px) {
    .attribute-title-wrapper {
      padding: 20px 65px;
    }

    .comparison-product-title,
    .attribute-title {
      font-size: 32px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Product comparison",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Add products to compare"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products to compare",
      "limit": 4
    }
  ],
  "blocks": [
    {
      "type": "attribute",
      "name": "Comparison attribute",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Attribute title"
        }
      ]
    }
  ]
}
{% endschema %}
