<section class="comparison-section section-{{ section.id }}">
  <div class="comparison-container">

    <!-- product summary -->
    <div class="comparison-row comparison-shadow">
    {% for product in section.settings.product_list %}
      <div class="comparison-column">
        <p class="comparison-product-title h3">{{ product.title }}</p>
        <p class="comparison-product-price">{{ product.price | money }}</p>
        <a class="comparison-product-url" href="{{ product.url }}">Buy now →</a>
      </div>
    {% endfor %}
    </div>


    <!-- product description -->
    <div class="comparison-row">
    {% for product in section.settings.product_list %}
      <div class="comparison-column">
        <div class="comparison-product-image-wrapper">
          {% assign media = product.featured_media %}
          <img class="comparison-product-image"
            src="{{ media.preview_image | image_url: width: 750 }}"
            alt="{{ media.alt | escape }}"
            loading="lazy"
            width="250"
            height="{{250 | divided_by: media.preview_image.aspect_ratio | ceil }}"
            data-media-id="{{ media.id }}"
          >
        </div>
        <div class="comparison-product-variants">
          {%- for variant in product.variants -%}             
          {%- endfor -%}
        </div>
        <p class="comparison-product-price">{{ product.price | money }}</p>
        <a class="comparison-product-buy" href="{{ product.url }}">Buy Now</a>
        <p class="comparison-product-return" >{{ product.metafields.lennart.return_policy }}</p>
        <a class="comparison-product-url" href="{{ product.url }}">Learn More →</a>
      </div>
    {% endfor %}
    </div>

    <!-- product benefit -->
    <div class="comparison-row comparison-shadow">
    {% for product in section.settings.product_list %}
      <div class="comparison-column">
        <p class="comparison-product-benefit-title">{{ product.metafields.lennart.key_benefit_title }}</p>
        <p class="comparison-product-benefit-description">{{ product.metafields.lennart.key_benefit_description }}</p>
      </div>
    {% endfor %}
    </div>

    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when 'attribute' -%}
        <div class="attribute-title-wrapper">
          <h3 class="attribute-title">{{ block.settings.title }}</h3>
        </div>
      {% endcase %}
    {% endfor %}

  </div>
</section>

{% style %}
  .comparison-container {
    overflow-x: scroll;
    white-space: nowrap;
  }

  .comparison-column {
    display: inline-block;
    width: {{ '100%' | divided_by: section.settings.product_list.count }}%;
    min-width: 165px;
    padding: 10px;
    text-align: center;
  }

  .comparison-shadow {
    box-shadow: 0px 4px 4px 0px #0000001A;
  }

  .attribute-title-wrapper {
    background: #EFEFEF;
    padding: 20px 40px;
  }

  .comparison-product-title,
  .attribute-title {
    font-size: 24px;
  }

  .attribute-title {
    margin: 0;
    padding: 0;
  }

  .comparison-product-image {
    width: 125px;
    height: auto;
  }

  @media screen and (min-width: 750px) {
    .attribute-title-wrapper {
      padding: 20px 65px;
    }

    .comparison-product-title,
    .attribute-title {
      font-size: 32px;
    }

    .comparison-product-image {
      width: 250px;
      height: auto;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Product comparison",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Add products to compare"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products to compare",
      "limit": 4
    }
  ],
  "blocks": [
    {
      "type": "attribute",
      "name": "Comparison attribute",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Attribute title"
        }
      ]
    }
  ]
}
{% endschema %}
